

<ul class="nav nav-pills  mb-3">

  <li class="nav-item " style="line-height:2;">
    <a class="nav-link p-2" aria-current="page" href="/finished_product/" class="list-group-item">All Products</a>
  </li>

  {% if not prod %}
    {% if not category_selected %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" style="padding-bottom: 9px !important;"  data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Categories
    <i class="bi bi-caret-down-fill ms-1"></i> </a>
    <ul class="dropdown-menu">
      {% for category in categories %}
      <li >
      <a class="dropdown-item p-2 ms-3" aria-current="page" href="?category={{category.id}}">{{category.name}}</a> </i>
    </li>
   
      {% endfor %}
    </ul>
  </li>

  {% endif %}
  {% endif %}

  <!-- Category page Links -->

  {% if category_selected %}

  {% for category in categories %}
  {% if perms.home.add_product %}


  <li class="nav-item " style="line-height:2;">
    <a class="nav-link p-2" href="#" class="list-group-item">
    </i> {{category}} </a>
  </li>
  <li class="nav-item " style="line-height:2;">
    <a class="nav-link p-2" href="/add-finished-product?category={{category.id}}" class="list-group-item">
      <i class="ti-plus"></i> Products</a>
  </li>

  <li  class="nav-item " style="line-height:2;">
    <a class="nav-link p-2" href="{% url 'addfinalproductprice' category.id %}" class="list-group-item">
      <i class="ti-plus me-1"></i> Price</a>
  </li>

  <!-- <li class="nav-item">
    <a class="nav-link p-1 " href="{% url 'addproductprice' category.id %}" class="list-group-item">
      Add Item Price
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link p-1" href="{% url 'searchproductprice' category.id %}"
      class="list-group-item">Search Items Price</a>
  </li> -->
  {% endif %}
  {% endfor %}


  <!-- main page Links -->
  {% elif add_category or category_selected == False %}
  {% if perms.home.add_category %}
  <li class="nav-item" style="line-height:2;">
    <a class="nav-link p-2" href="/finished-product-category/" class="list-group-item"><i class="ti-plus me-1"></i>
      Category</a>
  </li>
  <li class="nav-item " style="line-height:2;">
    <a class="nav-link p-2" href="/add-finished-productmain/" class="list-group-item">
      <i class="ti-plus me-1"></i>Product</a>
  </li>

  <li  class="nav-item " style="line-height:2;">
    <a class="nav-link p-2" href="{% url 'addfinalproductpricemain' %}" class="list-group-item">
      <i class="ti-plus"></i> Price</a>
  </li>
  <li  class="nav-item " style="line-height:2;">
    <a class="nav-link p-2 " href="/list_product_price/?region=True" class="list-group-item">
      <i class="ti-info-alt"></i> Regionl Price List</a>
  </li>

  <li  class="nav-item " style="line-height:2;">
    <a class="nav-link p-2 " href="/list_product_price/?customer=True" class="list-group-item">
      <i class="ti-info-alt"></i> Customer Price List</a>
  </li>
 
  {% endif %}
  {% endif %}

  {% if prod %}
  {% for category in categories %}
  <li class="nav-item" style="line-height:2;">
    <a class="nav-link p-2" href="/finished_product?category={{category.id}}" class="list-group-item">{{category.name}}</a>
  </li>
  {% endfor %}
  {% endif %}
  </li>
</ul>




<!-- 


<div class="col-lg-3">
    <h3 class="text-center alert alert-info">Product Menu</h3>
    <div class="list-group">

      <h4 class="bg-primary bg-gradient alert-info rounded  p-3 "><a class="text-light" href="/finished_product/" class="list-group-item">All Products</a></h4>
      {% if not prod %}
      {% for category in categories %}
      <h4 class="bg-primary bg-gradient rounded p-3 "><a class="text-light"  href="?category={{category.id}}" class="list-group-item">{{category.name}}</a></h4>
      {% endfor %}
      {% endif %}

      
      {% if category_selected %}

      {% for category in categories %}
      {% if perms.home.add_product %}
      <h4 class="bg-primary bg-gradient rounded p-3 "><a class="text-light" href="/add-finished-product?category={{category.id}}" class="list-group-item">Add Product</a></h4>  
      <h4 class="bg-primary bg-gradient rounded p-3 "><a class="text-light " href="{% url 'addfinalproductprice' category.id %}" class="list-group-item">
      Add Product Price
    </a></h4>  
      
      {% endif %}
      {% endfor %}
     
      {% elif add_category or category_selected == False %}
      {% if perms.home.add_category %}
      <h4 class="bg-primary bg-gradient rounded p-3 "><a class="text-light" href="/finished-product-category/" class="list-group-item">Add Category</a></h4>
      {% endif %}
      {% endif %}

      {% if prod %}

      {% for category in categories %}
      <h4 class="bg-primary bg-gradient rounded p-3 "><a class="text-light"  href="/finished_product?category={{category.id}}" class="list-group-item">{{category.name}}</a></h4>
      
      {% endfor %}
      {% endif %}
 
    </div>
  </div> -->