{% extends 'css-js-links.html' %}
{% load custom_filters %}
{% load crispy_forms_tags %}
{% block title %}
Products {% endblock title %}

{% block context %}
{% if request.user.is_superuser %}
{% include 'navbar.html' %} 
{% else %}
{% include 'store/navbar.html' %} 
{% endif %}
{% endblock context %}

{% block body %}

<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">
        <div class="page-body">
          <div class="row">
            {% include 'stock/product_menu.html' %}

            <!-- Trigger button -->

            <div id="product" class="col-md-12">
              <h3 class="">Items List</h3>
              <div class="row mt-5">
                {% if products %}
                {% for product in products %}
                <div class=" col-md-4 mb-3 p-3">
                  <div class="card mx-auto p-3" id="{{product.id}}" style="width: 25rem">
                    {% if product.pro_img %}
                    <img src="{{product.pro_img.url}}" class="card-img-top mt-2" alt="Product Image">
                    {% endif %}
                    <div class="card-body p-0">
                      <h5 class="card-title mt-2">Name: {{product.productname|title}}</h5>
                      <p class="card-text">Sizes: {{product.product_size}}</p>
                      <p class="card-text">In Stock: {{product.get_current_stock}}</p>
                      <p class="card-text">Status: {% if product.product_status %} Active 
                        {% else %}
                        In Active
                      {% endif %}</p>
                      {% if perms.home.change_product %}
                      <a class="btn btn-sm btn-warning fs-5 text-light" href={% url 'editproduct' id=product.id %}><i class="ti-pencil-alt"></i>Edit</a>
                      {% endif %}
                      {% if perms.home.delete_product %}
                      <a class=" btn btn-sm btn-danger fs-5" href={% url 'deleteproduct' id=product.id %}><i class="ti-trash"></i>Delete</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
                {% endfor %}
                {% else %}
                <h4 class="text-center fs-5 alert alert-warning">No Record Found</h4>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="addCategoryModalLabel">Add Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}

          <div class="mt-3">
            <input type="submit" class="btn btn-success" {% if update %} value="Update Category" {% else %} value="Add Category" {% endif %}>
            <a href="/product/" class="btn btn-warning">Products</a>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>


{% endblock body %}